/* fixed img */

#fixedbgimg {
	background-image:url(../images/pets/cery_popple/cery_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#fixedbgimgmobile {
	background-image:url(../images/pets/cery_popple/cery_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}
