/* fixed img */


#fixedbgimg {
	background-image:url(../images/equipment/techniques/bg_zv.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 800px;
	background-position: center;
}

#fixedbgimgmobile {
	background-image:url(../images/equipment/techniques/bg_zv.jpg);
	background-size:cover;
	min-height: 550px;
	background-position: center;
}
