/* fixed img */

#bgimgdesktop-fixed {
	background-image:url(../summoner-guide/images/pets/maron_melon/maron_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#bgimgmobile-nonfixed {
	background-image:url(../summoner-guide/images/pets/maron_melon/maron_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}

#bgimgdesktop-fixedtwo {
	background-image:url(../summoner-guide/images/pets/maron_melon/melon_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#bgimgmobile-nonfixedtwo {
	background-image:url(../summoner-guide/images/pets/maron_melon/melon_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}
