
/* fixed img */

#bgimgdesktop-fixed {
	background-image:url(../pso2-su-guide/images/pets_candy/bg-fixed-shop-1.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#bgimgmobile-nonfixed {
	background-image:url(../pso2-su-guide/images/pets_candy/bg-fixed-shop-1.jpg);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}

#bgimgdesktop-fixedtwo {
	background-image:url(../pso2-su-guide/images/pets_candy/bg-fixed-shop-2.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#bgimgmobile-nonfixedtwo{
	background-image:url(../pso2-su-guide/images/pets_candy/bg-fixed-shop-2.jpg);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}

.jelly {
	color: #22d1f7;
}

.caramel {
	color: #d67208;
}
