
/* fixed img */

#fixedbgimg {
	background-image:url(../images/pets_candy/bg-fixed-shop-1.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#fixedbgimgmobile {
	background-image:url(../images/pets_candy/bg-fixed-shop-1.jpg);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}

#fixedbgimgtwo {
	background-image:url(../images/pets_candy/bg-fixed-shop-2.png);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#fixedbgimgmobiletwo{
	background-image:url(../images/pets_candy/bg-fixed-shop-2.png);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}

.jelly {
	color: #22d1f7;
}

.caramel {
	color: #d67208;
}
