/* scroll bar stuff */

.yeah {
    height: 70vh;
    overflow-y: scroll;
}

.yeah::-webkit-scrollbar-thumb {
    background-color: #b04a7c;
    background-image: #b04a7c;
}

.yeah::-webkit-scrollbar {
    width: 6px;
    
}

.yeah::-webkit-scrollbar-track {
    background: #eee;
}