/* fixed img */

#fixedbgimg {
	background-image:url(../images/skill\ tree/bg-fixed-gate-1.png);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#fixedbgimgmobile {
	background-image:url(../images/skill\ tree/bg-fixed-gate-1.png);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}

#fixedbgimgtwo {
	background-image:url(../images/skill\ tree/bg-fixed-gate-2.png);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#fixedbgimgmobiletwo{
	background-image:url(../images/skill\ tree/bg-fixed-gate-2.png);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}


.yeah {
    overflow-x: scroll;
}

.yeah::-webkit-scrollbar-thumb {
    background-color: #28a745;
    background-image: #28a745;
}

.yeah::-webkit-scrollbar {
    width: 6px;
    
}

.yeah::-webkit-scrollbar-track {
    background: #eee;
}
