/* fixed img */

#bgimgdesktop-fixed {
	background-image:url(../summoner-guide/images/skill\ tree/bg-fixed-gate-1.png);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#bgimgmobile-nonfixed {
	background-image:url(../summoner-guide/images/skill\ tree/bg-fixed-gate-1.png);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}

#bgimgdesktop-fixedtwo {
	background-image:url(../summoner-guide/images/skill\ tree/bg-fixed-gate-2.png);
	background-size:cover;
	background-attachment:fixed;
	min-height: 600px;
	background-position: center;
}

#bgimgmobile-nonfixedtwo{
	background-image:url(../summoner-guide/images/skill\ tree/bg-fixed-gate-2.png);
	background-size:cover;
	min-height: 350px;
	background-position: center;
}
