/* general stuff */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #efefef;
}

.bggrey {
	background-color: #d9d9d9;
	padding: 10px;
	margin: 4px;
}


.container {
	margin-top: 6em;
}


/* classes used to bold/colour/etc text */ 
.boldtitle { 
	font-weight: 700;
	font-size: 18px;
}

.boldtitlelarge { 
	font-weight: 700;
	font-size: 22px;
}

.highlight {
	color: #741b47;
	font-weight: 600;
}

.highlightna {
	color: #9900ff;
	font-weight: 600;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 700;
}

.semiboldtitle{ 
	font-weight: 600;
	font-size: 26px;
}

.indent {
	text-indent: 12%;
}

.semibold { 
	font-weight: 600;
}


/* stuff for images and centering. */

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

.centersmall {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}

.rounded {
	border-radius: 30px;
	border-color: black;
	border-width: 1px;
	border-style: solid;	
}



/* making images do what I want them to */

.imgfloatleft {
	margin: 4px;
	margin-right: 7px;
	float: left;
}

.plusmargin {
	margin: 10px;
}

.paddingleft {
	margin-left: 15px;
}

.displayblock {
	display: block;
}