/* general stuff */
body, p{
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #F0EEEE;
}

.cardbody {
	background-color: #e0e0e0;
}


.navbar-toggler:active, .navbar-toggler:focus {
		outline: none !important;
		box-shadow: none !important;
}

.bgheader {
	background-color: #f0c9e8;
	color: black;
	padding: 0px;
}
html {
	scroll-behavior: smooth;
}


/* nav bar */

.navbar {
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.nav-item {
	padding: .4rem;
}

/* pet images slider */

.carousel-inner {
	max-height: 30rem!important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	transition: transform 1.8s ease;
}


/* classes used to bold/colour/etc text */ 
.boldtitle { 
	font-weight: 700;
	font-size: 18px;
}

.boldtitlelarge { 
	font-weight: 700;
	font-size: 22px;
}

.boldtitlemedium {
	font-weight: 700;
	font-size: 18px;
}

.highlight {
	color: #741b47;
	font-weight: 600;
}

.highlightintro {
	color: #335699;
	font-weight: 600;
}

/* highlight links black */

.underline {
	text-decoration: underline;
}


.boldtitlesmall{ 
	font-weight: 700;
	font-size: 16px;
}

.indent {
	text-indent: 12%;
}

.semibold { 
	font-weight: 600;
}


/* stuff for images and centering. */

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

.w-smaller {
	width: 22px;
}

.wfuck {
	width: 1px;
	height: 22px;
}

/* horizontal table scroll blueish */ 

.h-scroll-blueish::-webkit-scrollbar-thumb {
    background-color: #4ea4e2;
    background-image: #4ea4e2;
}

.h-scroll-blueish::-webkit-scrollbar {
    height: 6px;
    
}

.h-scroll-blueish::-webkit-scrollbar-track {
    background: #eee;
}

/* horizontal table scroll slateish */ 
.h-scroll-slateish::-webkit-scrollbar-thumb {
    background-color: #335699;
    background-image: #335699;
}

.h-scroll-slateish::-webkit-scrollbar {
    height: 6px;
    
}

.h-scroll-slateish::-webkit-scrollbar-track {
    background: #eee;
}

/* horizontal table scroll dark */ 
.yeahdark::-webkit-scrollbar-thumb {
    background-color: #343a40;
    background-image: #343a40;
}

.yeahdark::-webkit-scrollbar {
    height: 6px;
    
}

.yeahdark::-webkit-scrollbar-track {
    background: #eee;
}

/*vertical stock scroll  highlight */ 

.yeah {
    height: 35rem;
    overflow-y: scroll;
}

.yeah::-webkit-scrollbar-thumb {
    background-color: #b04a7c;
    background-image: #b04a7c;
}

.yeah::-webkit-scrollbar {
    width: 6px;
    
}

.yeah::-webkit-scrollbar-track {
    background: #eee;
}

/* loading bar for introduction */

.barintro {
	background-color: #4874C0;
}


