/* fixed img */

#bgimgdesktop-fixed {
	background-image:url(../pso2-su-guide/images/pets/synchro/synchro_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#bgimgmobile-nonfixed {
	background-image:url(../pso2-su-guide/images/pets/synchro/synchro_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}

/* vulcan img */
/* replace this synchro img with vulcan on vulcan release */

#bgimgdesktop-fixedtwo {
	background-image:url(../pso2-su-guide/images/pets/synchro/vulcan_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#bgimgmobile-nonfixedtwo {
	background-image:url(../pso2-su-guide/images/pets/synchro/vulcan_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}

.blanktext {
	color: #e0e0e0;
}


