/* fixed img */


#bgimgdesktop-fixed {
	background-image:url(../summoner-guide/images/equipment/techniques/bg_zv.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 400px;
	background-position: center;
}

#bgimgmobile-nonfixed {
	background-image:url(../summoner-guide/images/equipment/techniques/bg_zv.jpg);
	background-size:cover;
	min-height: 240px;
	background-position: center;
}
