/* fixed img */

#bgimgdesktop-fixed {
	background-image:url(../pso2-su-guide/images/pets/viola/viola_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#bgimgmobile-nonfixed {
	background-image:url(../pso2-su-guide/images/pets/viola/viola_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}


