/* fixed img */

#fixedbgimg {
	background-image:url(../images/pets/wanda_jinga/wanda_forest.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#fixedbgimgmobile {
	background-image:url(../images/pets/wanda_jinga/wanda_forest.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}

#fixedbgimgtwo {
	background-image:url(../images/pets_candy/bg-fixed-shop-2.jpg);
	background-size:cover;
	background-attachment:fixed;
	min-height: 450px;
	background-position: center;
}

#fixedbgimgmobiletwo{
	background-image:url(../images/pets_candy/bg-fixed-shop-2.jpg);
	background-size:cover;
	min-height: 250px;
	background-position: center;
}